NODE_ENV=development
PORT=9000
CORS_ORIGIN=http://localhost:3000

ADMIN_JWT_SECRET=adminjwtsecret
ADMIN_REFRESH_JWT_SECRET=adminrefreshjwtsecret
ADMIN_JWT_TOKEN_EXPIRE=1h
ADMIN_REFRESH_TOKEN_EXPIRE=7d

CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key 
CLOUDINARY_API_SECRET=your_api_secret

DATABASE_URL="mysql://user:password@127.0.0.1:3306/database_name"
